body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.navbar-collapse {
    flex-grow: 0;
}
.navbar-nav, .navbar{
    --bs-navbar-color: #d8ad63;
    --bs-navbar-brand-hover-color: #eeca55;
    --bs-navbar-brand-color: #d8ad63;
    --bs-nav-link-hover-color: #eeca55;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(248, 249, 250, 1);
    color: white;
    text-align: center;
    padding: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.footer img:hover {
    transform: scale(1.1);
}
